body {
    
    margin: 0;
    padding: 0;
}
.container{
    width: 400px;
    height: auto;
    margin: 0 auto;
    border: 20 solid red;
    box-shadow: 0 0 10px red;
    background-position: 10px;

}

.d1  {
    padding: o auto;
    width: 300px;
    margin: 20 10  20;
    border-radius: 4%;
    color: rgb(255, 255, 255);
    text-align:center;
    background-color: #db1769;
}

.d2{
    padding: o auto;
    width: 200px;
    margin: 20 10 20;
    border-radius: 5%;
    color: cadetblue;
    
}

.d3{
    padding: o auto;
    width: 200px;
    margin: 20 10 20;
    border-radius: 5%;
    color: cadetblue;
    
}

.d4{
    padding: o auto;
    width: 200px;
    margin: 20 10 20;
    border-radius: 5%;
    color: cadetblue;
    
}

.d5{
    padding: o auto;
    width: 200px;
    margin: 20 10 20;
    border-radius: 5%;
    color: cadetblue;
    
}

.d6{
    padding: o auto;
    width: 200px;
    margin: 20 10 20;
    border-radius: 5%;
    color: cadetblue;
    
}

.d7{
    padding: o auto;
    width: 200px;
    margin: 20 10 20;
    border-radius: 5%;
    color: cadetblue;
    
}

.d8{
    padding: o auto;
    width: 200px;
    margin: 20 10 20;
    border-radius: 5%;
    color: cadetblue;
    
}

.d9{
    padding: o auto;
    width: 200px;
    margin: 20 10 20;
    border-radius: 5%;
    color: cadetblue;
    
}

input {
    flex: 1;
    padding: 5px;
    border: 1px solid rgb(190, 182, 182);
    border-radius: 5px;
    outline: none;
}

button{

    background-color: #db17aa;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 10px;
    animation: 2s;
}






